{% extends 'base.html.twig' %}

{% block title %}Commande payé!{% endblock %}

{% block content %}

    <style>
        
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #f4f4f4;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
    </style>
    <div class="container">
        <p>Merci pour votre achat !</p>
    </div>
{% endblock %}
