{% extends "base.html.twig" %}

{% block carousel %} {% endblock %}

{%block content%}
    <!-- Three columns of text below the carousel -->

    <h2 class="titleStar" style="text-align:center;">Nos produits phares</h2>

    <div class="row">
        <div class="col-lg-4 image-container">
            <a  href="/produit/bulbes-de-begonias" style="color:black;">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"/>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image href="/uploads/images/bulbesBegonia.jpeg" width="100%" height="100%" />
            </svg>
            <div class="overlay">
                <h2>Bégonias</h2>

                <a class="btn btn-secondary" role="button" href="#">View details &raquo;</a>

            </div>
        </a>
        </div><!-- /.col-lg-4 -->
        

        <div class="col-lg-4 image-container ">
            <a  href="/produit/bulbes-de-dahlias" style="color:black;">

            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"/>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image href="/uploads/images/bulbeDahlia.jpeg" width="100%" height="100%" />
            </svg>
            <div class="overlay">
                <h2>Dahlias</h2>

                <p><a  href="/produit/bulbes-de-dahlias" class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </a>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 image-container " >
            <a href="/produit/glaieuls" style="color:black;">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"/>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                <image href="/uploads/images/glaieul.jpeg" width="100%" height="100%" />
            </svg>
            <div class="overlay">
                <h2>Glaïeuls</h2>

                <p class="btn btn-secondary"> View details &raquo;</p>
            </div>
        </a>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


    <hr class="featurette-divider">
    <h2 class="titleStar" style="text-align:center;">Les fleurs par saison</h2><br><br>

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Printemps </h2>
            <p class="lead">
                En ce début de printemps, les jardins s'éveillent avec un éclat de couleurs. Les jonquilles, les tulipes et les primevères fleurissent, égayant les paysages avec leurs teintes vives et leurs délicats pétales. Les cerisiers en fleurs peignent les arbres de nuances de rose délicates, tandis que les lilas embaument l'air de leur parfum enivrant.            
            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                <image href="/uploads/images/printemps.png" width="100%" height="100%" />
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Été </h2>
            <p class="lead">
                À l'apogée de l'été, les jardins sont un festival de fleurs éclatantes. Les roses, les dahlias et les hortensias sont à leur apogée, remplissant l'air de leurs parfums sucrés. Les tournesols s'élèvent vers le ciel, tournant leurs visages dorés vers le soleil éclatant, tandis que les lavandes répandent leur arôme apaisant dans les champs ensoleillés.            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                <image href="/uploads/images/ete.png" width="100%" height="100%" />
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Automne </h2>
            <p class="lead">
                Alors que l'automne s'installe, les jardins se parent de riches tons de rouille et d'or. Les chrysanthèmes, les asters et les cosmos ajoutent des touches de couleur aux paysages en transition. Les feuilles d'automne se mêlent aux fleurs de saison, créant une palette de couleurs éclatantes. Les tiges de tournesols se penchent sous le poids de leurs graines, offrant un festin aux oiseaux migrateurs.            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                <image href="/uploads/images/automne.png" width="100%" height="100%" />
            </svg>
        </div>
    </div>
    
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Hiver </h2>
            <p class="lead">
                Même en hiver, la nature trouve un moyen de fleurir. Les perce-neige pointent leurs délicates clochettes blanches à travers la neige fraîche, annonçant l'arrivée imminente du printemps. Les jasmins d'hiver embaument l'air froid de leur parfum sucré, apportant une lueur de chaleur aux journées les plus sombres. Les hellébores, avec leurs fleurs discrètes mais élégantes, bravent le froid pour offrir un éclat bienvenu au jardin d'hiver.            </p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
                <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                <image href="/uploads/images/hiver.png" width="100%" height="100%" />
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{%endblock%}