<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Boutique de Fleurs</title>
    <link rel="stylesheet" href="app.component.css">
  </head>

  <body>

    <script src="app.component.js"></script>

    <header class="header">

      <label for="menuCB" class="menuLabel">
        <svg viewBox="0 0 32 32" fill="#666">
          <rect x="0" y="4" rx="3" ry="3" width="32" height="3"/>
          <rect x="0" y="14" rx="3" ry="3" width="32" height="3"/>
          <rect x="0" y="24" rx="3" ry="3" width="32" height="3"/>
        </svg>
      </label>
      <input id="menuCB" type="checkbox" class="menuCB"> 
      <nav class="menuNav"> 
        <ul>
          <li class="menuItem"><a href="#" class="menuLink">Accueil</a></li>
          <li class="menuItem"><a routerLink="/contact" class="menuLink">Contact</a></li>
          <li class="menuItem"><a href="#" class="menuLink">Profil</a></li>
          <li class="menuItem"><a href="#" class="menuLink">Panier</a></li>
        </ul>
      </nav>

      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit">🔍</button>
      </div>

      <div class="panier">
        <a href="#">
          <img src="https://cdn-icons-png.flaticon.com/512/118/118089.png"/>
        </a>
      </div>

      <div class="compte">
        <a href="#">
          <img src="https://cdn-icons-png.flaticon.com/128/456/456283.png"/>
        </a>
      </div>

    </header>



    <main>
      <section class="sectionMain">
          <h1 class="title">
            <span class="black-text">Flower</span> 
            <span class="pink-text">Store</span>
          </h1>
      </section>




      <section class="desc">
        <h1>BLABLABLA Test</h1>
        <p>BLABLABLA Test...</p>
        <img src="../assets/test.png">
      </section>

      <section class="barreNav">
        <nav class="link">
          <a href="#">Accueil</a>
          <a href="#">Fleurs</a>
          <a href="#">Contact</a>
          <a href="#">Test</a>
          <a href="#">Test2</a>
        </nav>
      </section>

      <section class="prodGallery">
        <div class="product" *ngFor="let product of product">
          <img [src]="product.imgUrl" alt="product.name">
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          <span>{{product.price}}</span>
          <button type="submit">Ajouter au panier</button>
        </div>
      </section>

    </main>

    <footer>
      <p>2024 Flower Store</p>
    </footer>

  </body>
</html>
